.root {
  width: 350px;
  height: 450px;
  margin: 2rem auto;
}

.root > div {
  background-color: #F6F6F6;
  border-radius: 5px;
  box-shadow: 0.25rem 0.25rem .5rem rgba(0, 0, 0, 0.5);
  will-change: transform, opacity;
}

.polaroidContainer {
  position: absolute;
  width: inherit;
  height: inherit;

  &:hover {
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 1);
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .imgContainer {
    width: 300px;
    height: 300px;
    position: relative;
    top: -8%;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  span {
    width: 70%;
    text-align: center;
    position: relative;
    top: 1rem;
  }
}
